<div id= "navbar-home" class= "navbar-landing">
    <%= link_to root_path do %>
      <%= image_tag "atlasFavicon.png", class: "landing-logo"%>
    <% end %>
  <div id= "about" class= "items">
    <%= link_to about_path do %>
    <p>A propos<p>
    <% end %>
  </div>
  <div id= "services" class= "items">
    <%= link_to about_path do %>
      <p>Nos services<p>
      <% end %>
  </div>
  <div id= "cases" class= "items">
    <%= link_to about_path do %>
      <p>Cas concrets<p>
      <% end %>
  </div>
  <div id= "recrut" class= "items">
  <%= link_to about_path do %>
    <p>Recrutement<p>
    <% end %>
  </div>
  <div id= "contact" class= "items">
  <%= link_to about_path do %>
    <p>Contactez-nous<p>
    <% end %>
  </div>
</div>
<div class= "line"></div>